body{
    margin: 0;
    padding: 0;
}

/*-------------- HEADER --------------*/

/*LAPTOP RESPONSIVE*/
@media screen and (min-width: 651px){
    .mobilheader{
        display: none;
    }
}

.top{
    background-image: url(images/baggrund.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    padding-bottom: 10%;
}

header{
    width: 100%;
    display: flex;
}

header div{
    width: 34%;
}

/* Burgermenu */
.fa-solid{
    color: #3048b6;
    font-size: 3.5vw;
    margin-left: 5%;
    margin-top: 5%;
}

header #logo{
    justify-content: center; 
    align-items: center;
}

header #logo img{
    max-width: 40%;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*-------------- Section med Medova-te kassen --------------*/

#kassen{
    width: 100%;
}

#kassen img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    max-width: 60%;
    height: auto;
}

/*-------------- Section omkring det nye design --------------*/

#nyt-look{
    display: flex;
    background-color: #c2ab6e;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

#nyt-look h1{
    text-transform: uppercase;
    text-align: center;
    font-family: athelas,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.5vw;
    color: white;
    margin-top: 3%;
    margin-bottom: 3%;
}

#overskrift{
    width: 100% !important;
}

#nyt-look div{
    width: 50%;
    text-align: center;
}

#nyt-look #citat p{
    text-align: center;
    color: white;
    font-family: charter, serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2vw;
    margin-left: 22%;
    margin-top: 20%;
    margin-bottom: 0;
}

#citat{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 30% !important;
}

#citat img{
    position: absolute;
    top: 0;
    max-width: 40%;
    margin-left: 20%;
    margin-top: 4%;
}

#nyt-look div p{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 1.8vw;
    margin-top: 0px;
}

#nyt-look div a{
    display: inline-block;
    font-family: 'Gill Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8vw;
    text-decoration: none;
    color: white;
    background-color: #af9243;
    padding: 3% 9%;
    border-radius: 50px;
    margin-top: 3%;
    margin-bottom: 7%;
    white-space: nowrap;
}

/*-------------- Section med 2 cards --------------*/

.cards{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 5%;
    margin-bottom: -1.5%;
}

.cards div{
    width: 46%;
    justify-content: center;
    align-items: center;
}

.cards div .overlay{
    position: relative;
    background-color: white;
    border: solid 4px #c2ab6e;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 13%; 
    width: 65%;
    padding-bottom: 10px;
}

.cards div img{
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 4px #c2ab6e;
}

.cards hr{
    width: 10%;
    border: solid 0.5px black;
}

.cards h4{
    font-family: athelas, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3vw;
    color: #3048b6;
    margin: 10px 0 0 0;
}

.cards p{
    font-family: 'Gill Sans', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.8vw;
    margin: 4% 8%;
}

.cards a{
    text-decoration: none;
    margin-bottom: 20px;
    color: black;
    font-family: charter, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
}

.cards a:hover{
    color: #3048b6;
    text-decoration: underline;
}

/*-------------- Section med konkurrence --------------*/

.konkurrence{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
} 

.konkurrence #video{
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    margin: 0;
    padding: 0;
    height: 50%;
}

.konkurrence #video video{
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    filter: brightness(0.5);
}

.konkurrence #video-text{
    position: absolute;
    top: 0;
    left: 0;
}

.konkurrence h1{
    text-align: center;
    font-family: athelas,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    color: white;
    padding-top: 9.2%;
    padding-bottom: 3%;
    margin: 0;
}

.konkurrence p{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 2.2vw;
    padding-left: 18%;
    padding-right: 18%;
    margin: 0;
}

.konkurrence a{
    display: inline-block;
    font-family: 'Gill Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.3vw;
    text-decoration: none;
    color: white;
    background-color: #af9243;
    padding: 1.8% 4%;
    border-radius: 50px;
    margin-top: 5%;
    margin-bottom: 9.15%;
    white-space: nowrap;
}



/*------------------- FOOTER --------------------*/

footer {
    background-color: #c2ab6e;
    color: white;
    padding: 20px 0;
    margin-top: -5px;
}

footer p {
    font-family: charter, serif;
    font-size: 12px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    font-family: charter, serif;
}

.footer-column {
    flex: 0 0 25%;
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-column li {
    margin-bottom: 10px;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
}

.footer-column a:hover{
    color: #3048b6;
}

.copyright {
    text-align: center;
}


/*-------------- MOBIL RESPONSIVT --------------*/

@media only screen and (max-width: 651px){

    *{
        margin: 0;
        padding: 0;
    }

/*----------- HEADER -----------*/

    header{
        display: none;
    }

    .top{
        padding-bottom: 4%;
    }

    .mobilheader{
        display: flex;
    }

    .mobilheader div{
        width: 50%;
    }

    .mobilheader div a img{
        max-width: 26%;
        margin-left: 2%;
    }

    .mobilheader .fa-solid{
        color: #3048b6;
        font-size: 5vw;
        margin-right: 6%;
        margin-top: 6%;
        text-align: end;
        display: block;
    }

    #kassen img{
        max-width: 80%;
        margin-top: -5%;
    }

/*----------- NYT LOOK -----------*/

    #nyt-look{
        flex-direction: column;
    }

    #nyt-look div{
        width: 100% !important;
    }

    #nyt-look #citat img{
        margin: 0;
        max-width: 25%;
    }

    #nyt-look h1{
        font-size: 7.2vw;
    }

    #nyt-look #citat p{
        font-size: 4vw;
        margin: 23% 0 6% 0;
    }

    #nyt-look div p{
        font-size: 3.8vw;
        margin: 0;
    }

    #nyt-look div a{
        font-size: 3.8vw;
        margin-bottom: 5%;
        margin-top: 5%;
    }

/*----------- 2 CARDS -----------*/

    .cards{
        flex-direction: column;
        margin-top: 7%;
    }

    .cards div{
        width: 100%;
    }

    .cards div .overlay{
        margin-top: -16%;
        margin-bottom: 8%;
    }

    .cards h4{
        font-size: 3vw;
    }

    .cards hr{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
    }

    .cards p{
        font-size: 4vw;
    }

    .cards a{
        font-size: 2.1vw;
    }

/*----------- SECTION MED KONKURRENCE -----------*/

    .konkurrence h1{
        font-size: 6vw;
        padding-top: 5.2%;
    }

    .konkurrence p{
        font-size: 3vw;
        padding-left: 12%;
        padding-right: 12%;
    }

/*----------- FOOTER -----------*/

    .footer-container{
        flex-direction: column;
    }

    .footer-column{
        margin-bottom: 5%;
    }

}

/*----------- BURGER MENU IKON + MENU -----------*/
nav ul {
    display: none;
  }

  nav-mobil ul {
    display: none;
  }

.menu1 {
  background-color: #c2ab6ebd;
  margin-top: 0;
  margin-bottom: 0;
  width: 15%;
  height: auto;
  padding-left: 2%;
  z-index: 0;
  margin-top: -4.1%;
  position: absolute;
}

.menu1-mobil {
    background-color: #c2ab6ebd;
    margin-top: 0;
    margin-bottom: 0;
    width: 50%;
    height: auto;
    padding-left: 2%;
    z-index: 0;
    margin-top: -4.1%;
    position: absolute;
  }

.menu-link a {
    font-size: 1.8vw;
    color: #fff;
    text-decoration: none;
    font-family: charter, serif;
}


.menu-link a:hover {
    color: #3048b6
}

#menu-button {
    z-index: 1;
    position: relative;
}

#menu-button-mobil {
    z-index: 1;
    position: absolute;
}

.menu-link {
    padding-bottom: 21%;
}

li {
    list-style-type: none;
  }

.menu-indhold {
    margin-top: 40%;
    width: 100%;
}